<div class="container">
  <h1>Admin Settings</h1>

  <h2>Groups</h2>
  <div class="card">
    <div class="card-body">
      <input type="text" /><button>Create new group</button>

      <div class="card">
        <h2>This group</h2>
        <button>delete</button><button>rename</button>
        <select name="users" id="usersofgroup">
          <option value="default" hidden="true">Users</option>
          <option value="">user 1</option>
          <option value="">user 1</option>
          <option value="">user 1</option>
          <option value="">user 1</option>
        </select>
        <button>Delete user</button>
        <select name="users" id="usersofgroup">
          <option value="default" hidden="true">User Requests</option>
          <option value="">user 1</option>
          <option value="">user 1</option>
          <option value="">user 1</option>
          <option value="">user 1</option>
        </select>
        <button>Add User</button>
        <!-- Add your code for group settings here -->
        <h3>Channels</h3>
        <div class="card">
          <div class="card-body">
            <input type="text" /><button>Create new Channel</button>
            <div class="card">
              <h2>This Channel</h2>
              <button>delete</button><button>rename</button>
              <select name="users" id="usersofgroup">
                <option value="default" hidden="true">select users</option>
                <option value="">user 1</option>
                <option value="">user 1</option>
                <option value="">user 1</option>
                <option value="">user 1</option>
              </select>

              <button>Ban user</button>
            </div>
            <!-- Add your code for channel settings here -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2>Users</h2>
  <div class="card">
    <div class="card-body">
      <select name="users" id="usersofgroup">
        <option value="default" hidden="true">Users</option>
        <option value="">user 1</option>
        <option value="">user 1</option>
        <option value="">user 1</option>
        <option value="">user 1</option>
      </select>
      <select name="users" id="usersofgroup">
        <option value="default" hidden="true">Change role</option>
        <option value="">Delete user</option>
        <option value="">Change to Super Admin</option>
        <option value="">Change to Group Admin</option>
        <option value="">user 1</option>
      </select>
      <button>Delete/Upgrage User</button>
      <select name="users" id="usersofgroup">
        <option value="default" hidden="true">Groups</option>
        <option value="">user 1</option>
        <option value="">user 1</option>
        <option value="">user 1</option>
        <option value="">user 1</option>
      </select>
      <button>Change to admin</button>
    </div>
  </div>

  <h2>Messages</h2>
  <div class="card">
    <div class="card-body">
      <div class="card">User: 0090 in group: 2323 was banned</div>
      <div class="card">User: 0090 in group: 2323 was banned</div>
    </div>
  </div>
</div>
