<!-- groups.component.html -->

<div class="container">
  <h2>List of Your Groups</h2>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let group of groupsArr">
      <div class="d-flex flex-cols justify-items-center">
        Name: {{ group.name }}
        <div class="d-flex flex-cols justify-items-center">
          <select name="Channels">
            <option *ngFor="let user of group.users">{{ user }}</option>
          </select>
        </div>
        <a class="btn btn-primary" routerLink="/auth/room/1{{ group.link }}"
          >Join Now</a
        >
      </div>
    </li>
  </ul>
  <h2>List of other Groups</h2>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let name of AllgroupsArr">
      {{ name.name }} <button>Request to Join Group</button>
    </li>
  </ul>
</div>
